{
  "extends": [
    "react-app",
    "airbnb",
  ],
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_"
      }
    ]
  }
}
