# Current-bench has failing system dependencies on these platforms,
# and `dune build -p cb-check @runtest` will try to build pipeline tests for some reason.
available: [ (os-distribution != "alpine" & os-distribution != "freebsd") | ! with-test ]
