[Unit]
Description=OCaml Benchmarks Service
Requires=docker.service
After=docker.service

[Service]
User=current-bench
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/home/current-bench/
ExecStart=/usr/bin/docker-compose up -d --remove-orphans
ExecStop=/usr/bin/docker-compose down

[Install]
WantedBy=multi-user.target