OCAML_BENCH_DOCKER_CPU=1
OCAML_BENCH_DB_PASSWORD=docker
OCAML_BENCH_GRAPHQL_KEY=secret
OCAML_BENCH_TARGET_ARCH=amd64
OCAML_BENCH_HOST=localhost
OCAML_BENCH_GRAPHQL_PORT=8080
OCAML_BENCH_FRONTEND_PORT=8082
OCAML_BENCH_PIPELINE_PORT=8081
