OCAML_BENCH_GITHUB_APP_ID=
OCAML_BENCH_GITHUB_ACCOUNT_ALLOW_LIST=
OCAML_BENCH_GITHUB_PRIVATE_KEY_FILE=/app/var/ocaml-bench-github-key
OCAML_BENCH_DOCKER_CPU=3
OCAML_BENCH_DB_PASSWORD=
OCAML_BENCH_GRAPHQL_KEY=
OCAML_BENCH_TARGET_ARCH=amd64
OCAML_BENCH_GRAPHQL_URL=
OCAML_BENCH_GRAPHQL_PORT=8080
OCAML_BENCH_FRONTEND_URL=
OCAML_BENCH_FRONTEND_PORT=80
OCAML_BENCH_PIPELINE_URL=
OCAML_BENCH_PIPELINE_PORT=8081