groups:
  - name: prometheus
    rules:
    - alert: PrometheusNotConnectedToAlertmanager
      expr: prometheus_notifications_alertmanagers_discovered < 1
      for: 0m
      labels:
        severity: critical
      annotations:
        summary: Prometheus not connected to alertmanager (instance {{ $labels.instance }})
        description: "Prometheus cannot connect to the alertmanager\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"
